@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.show {
    display: flex;
}
.hide {
    display: none!important;
}
.container {
    padding: 20px;
    min-width: 320px;
    max-width: 600px;
    margin: 0 auto;
}
.wrapper {
    background-color: #F4F4F4;
    -webkit-box-shadow: 0px 9px 16px 12px rgba(204,204,204,0.95);
    box-shadow: 0px 9px 16px 12px rgba(204,204,204,0.95);
    border-radius: 12px;
}
.first-screen, .second-screen, .third--screen {
    position: relative;
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
.first-screen__img, .second-screen__img {
    padding-top: 20px;
}
.first-screen__img img, .second-screen__img img{
    width: 100%;
}

.first-screen__title, .second-screen__title {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
}
.first-screen__info, .second-screen__info {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
}

.first-screen__choice {
    padding-top: 25px;
    display: flex;
    justify-content: center;
}

.btn {
    align-items: center;
    background: rgb(255,185,35);
    border: 0 solid #E2E8F0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #F4F4F4;
    display: inline-flex;
    /*font-family: Inter, sans-serif;*/
    font-size: 1rem;
    font-weight: 700;
    height: 56px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    text-decoration: none;
    width: auto;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}
.choice-true {
    background: rgb(255,185,35);
    margin-right: 25px;
}
.choice-false {
    background: #182933;
}

.first-screen--lang {
    font-size: 18px;
    font-weight: 100;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.second-screen__info {
    font-size: 15px;
}
.second-screen__form {
    display: flex;
    flex-direction: column;
}
.second-screen__form label {
    padding-top: 10px;
    /*padding-bottom: 10px;*/
    text-align: center;
}
.form__input {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
.form__run {
    margin: 0 auto;
    margin-top: 15px;
    max-width: 150px;
}
.data-base {
    text-align: center;
}
.data-base__title {
    padding-bottom: 15px;
    font-size: 20px;
}
.data-base__table {
    margin: 0 auto;
    background: rgb(255, 250, 240);
    width: 100%;
    color: #182933;
}
.data-base__table td {
    /*border: ;*/
    border-bottom: 1px solid #182933;
}
.table__title {
    background: rgb(255, 170, 0);
}
.second-screen__actions {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.actions__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 15px;
}
.actions__item:last-child {
    margin-right: 0;
}
.actions__link {
    width: 48px;
    height: 48px;
    margin: 0 auto;
}
.actions__link img {
    text-align: center;
    width: 100%;
}
.actions__title {
    padding-top: 5px;
}
.third--screen__title {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.third--screen__image {
    text-align: center;
}
.third--screen__image img {
    width: 100%;
}
.third--screen__descr {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}